@import "../../styles/_global-colors.scss";

img.small {
  max-height: 8rem;
}

.product {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid;
  color: $color-pink;
  border: 0.2rem solid $color-pink;
  text-align: center;
  height: 15rem;
}

.add-to-cart-button {
  background-color: $color-pink;
  border: none;
  padding: 0.4rem;
  width: 100%;
  color: white;
  transition: 0.3s;
}

.add-to-cart-button:hover {
  background-color: $color-light-pink;
  color: white;
}

.product__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0.5rem 0rem;
}
