@import "./styles/_global-colors.scss";

* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.page-container {
  display: flex;
  justify-content: flex-start;
}
